<footer class="main-footer">
  <nav class="navbar navbar-parnout justify-content-between">
      <a class="nav-item nav-link" href="/">Pierre Arnout - Senior Python Engineer</a>
      <a class="nav-item nav-link" href="/assets/pdf/Pierre-ARNOUT-CV-2024.pdff">Download Curriculum Vitæ (PDF)</a>
      <a class="nav-item nav-link" href="http://github.com/pierre-arnout">Github</a>
      <a class="nav-item nav-link" href="https://stackoverflow.com/users/7200715/arount">Stackoverflow</a>
      <a class="nav-item nav-link" href="/blog/">Blog</a>
  </nav>
</footer>